In [2]:
import pandas
pandas.__version__

'2.2.2'

In [3]:
#1
import pandas as pd
import numpy as np

In [11]:
#2
data = [["Ivysaur",45,"Bulbasaur","yes","grass"],["Charmeleon",39,"Charmander","no","fire"],["Wartortle",44,"Squirtle","yes","water"],["Metapod",45,"Caterpie","no","bug"]]
df = pd.DataFrame(data,columns=["evolution","hp","name","pokedex","type"])
print(df)

pokemon

In [ ]:
#3
df = "pokemon"

In [6]:
#4
df.iloc[:,[2,4,1,0,3]]

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

In [7]:
#5
#Adding another column
df.insert(5,"Place",["Nairobi","Kakamega","Nakuru","Mombasa"])
print(df)

    evolution  hp        name pokedex   type     Place
0     Ivysaur  45   Bulbasaur     yes  grass   Nairobi
1  Charmeleon  39  Charmander      no   fire  Kakamega
2   Wartortle  44    Squirtle     yes  water    Nakuru
3     Metapod  45    Caterpie      no    bug   Mombasa

In [15]:
#6
#present the type of each column
df = pd.DataFrame(data,columns = ['evolution','hp','name','pokedex','type'])

datatypes = df.dtypes
datatypes

evolution    object
hp            int64
name         object
pokedex      object
type         object
dtype: object